* {
    background-color: black;
    color: red;
    font-family: 'Trebuchet MS';
}

body {
    margin: 1.5rem 2.3rem 0rem 2.3rem;
}

header {
    width: 100%;
    padding-top: 1rem;
    margin: auto;
    text-align: center;
    font-weight: bold;
}

h1 {
    font-family: 'Tangerine', serif;
    font-size: 4rem;
}

#test {
    color: yellow;
}

ul {  
    display:flex;
    list-style: none;
    justify-content: center;
    font-size: 1.5rem;
    margin-top: 0px;
}

li {
    justify-content: center;
    margin: 1.2rem;
    padding: 0.3rem;
    border-radius: 25px;
    border: 2px solid black;
}

#btn1 {
    transition: background-color 1s, color 1s;
}

#btn2 {
    transition: background-color 1s, color 1s;
}

#btn3 {
    transition: background-color 1s, color 1s;
}

#btn1:hover, #btn2:hover, #btn3:hover {
    background-color: red;
    color: black;
    border-radius: 15px;
    border: 2px solid red;
    padding: 0.3rem;
}

.a {
    padding: 3px;
    text-align: center;
    width: 50px;
}

#emblem {
    height: 10%;
    width: 10%;
    float: right;
}

.container{
    text-align: center;
    padding-top: 30px;
}
#escrimaman{
    width: 100px;
    height: 100px;
}

#weapons {
    height: 30%;
    width: 30%;
}

video{
    width: 40%;
    height: 40%;
}

#contact {
    text-align: center;
}

form {
    display: block;
    justify-content: center;
}

input[type=text], input[type=number], textarea, input[type=submit] {
    width: 25%;
    padding: 12px 20px;
    margin: 8px 0;
    margin-left: 30rem;
    box-sizing: border-box;
  }

label {
      display: block;
      width: 50px;
      margin-left: 30rem;
  }

  #sitckpic {
    height: 50%;
    width: 50%;
  }


  @media only screen and (max-width: 480px) {
      #stickpic
      {
          width: 50%;
      }
  }
