* {
    font-family: 'Trebuchet MS';
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html {
    background-color: black;
}

body {
    margin: 0px;
    box-sizing: border-box;
    background-color: white;
    width:100%;
    max-width:100%;
}

content {
    padding: 0rem 5% 0rem 5%;  
}

header {
    padding-top: 0.5rem;
    padding-bottom: 0.2rem;
    text-align: center;
    font-weight: bold;
    background-color: black;
    color: red;
    height:100%;
    margin:0;
}

h1 {
    font-family: 'Tangerine', serif;
    font-size: 5rem;
    text-shadow: 0px 3px #444343;
    padding-bottom: 2rem;
    padding-top: 2rem;
}

#test {
    color: yellow;
}

p, h1, h2, h3 {
    padding: 0.5rem 2rem 0.5rem 2rem;
}

h1 {
    color: red;
}

img {
    margin-left: 2rem;
    margin-right: 2rem;
}

ul {  
    display:flex;
    list-style: none;
    justify-content: center;
    font-size: 1.5rem;
    margin-top: 0px;
    background-color: black;
    color: red;
}

li {
    justify-content: center;
    margin: 1.2rem;
    padding: 0.5rem;
    border-radius: 15px;

}

#btn1, #btn2, #btn3 {
    color: red;

}

#btn1 {
    transition: background-color 1s, color 1s;
}

#btn2 {
    transition: background-color 1s, color 1s;
}

#btn3 {
    transition: background-color 1s, color 1s;
}

#btn1:hover, #btn2:hover, #btn3:hover {
    background-color: red;
    background: linear-gradient(#621d1d, #e90707);
    color: black;
    border-radius: 15px;
    border: 2px transparent red;
    padding: 0.5rem;
    box-shadow: 0px 3px;
    text-decoration: none;
    text-shadow: 0 -2px rgb(95, 101, 105);
}

#emblem {
    height: 10%;
    width: 10%;
    float: right;
}

.container{
    text-align: center;
    padding-top: 30px;
}
#escrimaman{
    width: 100px;
    height: 100px;
}

#weapons {
    height: 30%;
    width: 30%;
}

video{
    width: 40%;
    height: 40%;
}

#contact {
    text-align: center;
}

form {
    display: block;
    text-align: center;
    justify-content: center;
    overflow: auto;
}

label {
    display: inline-block;
    width: 10rem;
    text-align: right;
    padding-right: 2rem;
}

input {
    padding: 5px 10px;
}

#sitckpic {
    height: 50%;
    width: 50%;
  }

#armourpic {
    height: 40%;
    width: 40%;
}

#fist {
    height: 10%;
    width: 10%;
    float: right;
}

#soon {
    text-align: center;
}
#lastaboutp {
    margin-bottom: 0rem;
}

footer {
    background-color: black;
    color: red;
}

#btnmain {
    margin-left: 2rem;
    color: blue;
}


@media only screen and (max-width: 480px) {
      #stickpic
      {
          width: 50%;
      }
  }

  @media only screen and (max-width: 480px) {
      .form
    {
        width: 50%;
    }
}
